<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <ul class="navbar-nav">
          <li> <a class="navbar-brand" href="{% url 'index' %}">BRAND</a> </li>
          <li> <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a> </li>
          <li> <a class="nav-link" href="{% url 'basic_app:other' %}">OTHER</a> </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      {% block body_block %}


      {% endblock %}

    </div>

  </body>
</html>
